/** basic default styles **/
html { margin: 0; padding: 0; }

body {
    height: 100%;
    font-size: 95.5%;
    font-family: "Trebuchet MS", Arial, Tahoma, sans-serif;
    color: #cfcdcf;
    background-color:#262226;
    padding-top: 10px;
}

h1{
    margin:0;
}
a {
    color: #9add9a;
    text-decoration: none;
}
a:hover { text-decoration: underline; }



.viewport{
    max-width:1000px;
    position:relative;
}
.main-nav-container{
    position:absolute;
    top:0em;
    right:4em;
}


.nav-main-list li{
    display:inline;
    padding:4px;
    border-right:1px solid #eee;
}
.module-view-container{
    padding:8px;
    margin:8px;
    border:1px solid #7D9029;
    border-radius:4px;
}
.url-list-container{

}
.url-list{
    list-style: none;
}

/*

tuduqu


*/
.ui-input{
    width:600px;
}